In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
print("Test Python")

Test Python

In [30]:
data_shape = df.shape
total_rows = data_shape[0]
total_columns = data_shape[1]

print(f'Total number of rows: {total_rows}')
print(f'Total number of columns: {total_columns}')

Total number of rows: 38480
Total number of columns: 35

In [42]:
data_source_path = '../src/loan_default_data.xlsx'

df = pd.read_excel(data_source_path)

In [43]:
# Display the DataFrame before deleting the column
print("Before deleting the index column from raw xlsx file:")
df.head()

Before deleting the index column from raw xlsx file:

,Unnamed: 0,id,member_id,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,...,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail
0,2,2,2,0.0,0.0,0.0,36 months,0.00,0.00,< 1 year,...,1.0,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1
1,3,545583,703644,2500.0,2500.0,2500.0,36 months,13.98,85.42,4 years,...,10.0,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0
2,4,532101,687836,5000.0,5000.0,5000.0,36 months,15.95,175.67,4 years,...,15.0,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,NaT,2012-03-01,1
3,5,877788,1092507,7000.0,7000.0,7000.0,36 months,9.91,225.58,10+ years,...,20.0,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaT,2014-03-01,0
4,6,875406,1089981,2000.0,2000.0,2000.0,36 months,5.42,60.32,10+ years,...,15.0,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,NaT,2016-06-01,0

In [44]:
df = df.iloc[:, 1:]

# Display the DataFrame after deleting the column
print("\nAfter deleting the column:")
df.head()

After deleting the column:

,id,member_id,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,home_ownership,...,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail
0,2,2,0.0,0.0,0.0,36 months,0.00,0.00,< 1 year,RENT,...,1.0,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1
1,545583,703644,2500.0,2500.0,2500.0,36 months,13.98,85.42,4 years,RENT,...,10.0,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0
2,532101,687836,5000.0,5000.0,5000.0,36 months,15.95,175.67,4 years,RENT,...,15.0,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,NaT,2012-03-01,1
3,877788,1092507,7000.0,7000.0,7000.0,36 months,9.91,225.58,10+ years,MORTGAGE,...,20.0,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaT,2014-03-01,0
4,875406,1089981,2000.0,2000.0,2000.0,36 months,5.42,60.32,10+ years,RENT,...,15.0,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,NaT,2016-06-01,0

In [45]:
df.dtypes

id                                        int64
member_id                                 int64
loan_amount                             float64
funded_amount                           float64
funded_amount_investors                 float64
term                                     object
interest_rate                           float64
installment                             float64
employment_length                        object
home_ownership                           object
annual_income                           float64
verification_status                      object
issue_date                       datetime64[ns]
loan_status                              object
purpose                                  object
zip_code                                 object
address_state                            object
debt_to_income_ratio                    float64
no_delinquency_2yrs                     float64
earliest_credit_line             datetime64[ns]
inquiries_last_6mths                    float64
months_since_last_delinquency           float64
no_open_accounts                        float64
public_records                          float64
revolving_balance                       float64
revolving_utillization                   object
no_total_account                        float64
total_payment                           float64
total_payment_investors                 float64
total_received_principal                float64
total_received_interest                 float64
last_payment_date                datetime64[ns]
last_payment_amnt                       float64
next_payment_date                datetime64[ns]
last_credit_pull_date            datetime64[ns]
repay_fail                                int64
dtype: object

In [46]:
duplicate_rows = df.duplicated().sum()

print(f"Total number of duplicate rows: {duplicate_rows}")

Total number of duplicate rows: 0

In [47]:
df.drop('id', axis = 1, inplace = True)
df.drop('member_id', axis = 1, inplace = True)

df.head()

,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,home_ownership,annual_income,verification_status,...,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail
0,0.0,0.0,0.0,36 months,0.00,0.00,< 1 year,RENT,0.0,Not Verified,...,1.0,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1
1,2500.0,2500.0,2500.0,36 months,13.98,85.42,4 years,RENT,20004.0,Not Verified,...,10.0,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0
2,5000.0,5000.0,5000.0,36 months,15.95,175.67,4 years,RENT,59000.0,Not Verified,...,15.0,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,NaT,2012-03-01,1
3,7000.0,7000.0,7000.0,36 months,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,...,20.0,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaT,2014-03-01,0
4,2000.0,2000.0,2000.0,36 months,5.42,60.32,10+ years,RENT,30000.0,Not Verified,...,15.0,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,NaT,2016-06-01,0

In [48]:
df.dtypes

loan_amount                             float64
funded_amount                           float64
funded_amount_investors                 float64
term                                     object
interest_rate                           float64
installment                             float64
employment_length                        object
home_ownership                           object
annual_income                           float64
verification_status                      object
issue_date                       datetime64[ns]
loan_status                              object
purpose                                  object
zip_code                                 object
address_state                            object
debt_to_income_ratio                    float64
no_delinquency_2yrs                     float64
earliest_credit_line             datetime64[ns]
inquiries_last_6mths                    float64
months_since_last_delinquency           float64
no_open_accounts                        float64
public_records                          float64
revolving_balance                       float64
revolving_utillization                   object
no_total_account                        float64
total_payment                           float64
total_payment_investors                 float64
total_received_principal                float64
total_received_interest                 float64
last_payment_date                datetime64[ns]
last_payment_amnt                       float64
next_payment_date                datetime64[ns]
last_credit_pull_date            datetime64[ns]
repay_fail                                int64
dtype: object

In [49]:
def extract_categorical_numerical_cols(df):
    categorical_column = [col for col in  df.columns if df[col].dtype == 'object']
    numerical_column = [col for col in  df.columns if df[col].dtype != 'object']
    return categorical_column, numerical_column

In [121]:
categorical_columns, numerical_columns = extract_categorical_numerical_cols(df)

In [122]:
categorical_columns

['home_ownership',
 'verification_status',
 'loan_status',
 'purpose',
 'zip_code',
 'address_state']

In [123]:
numerical_columns

['loan_amount',
 'funded_amount',
 'funded_amount_investors',
 'interest_rate',
 'installment',
 'annual_income',
 'issue_date',
 'debt_to_income_ratio',
 'no_delinquency_2yrs',
 'earliest_credit_line',
 'inquiries_last_6mths',
 'months_since_last_delinquency',
 'no_open_accounts',
 'public_records',
 'revolving_balance',
 'no_total_account',
 'total_payment',
 'total_payment_investors',
 'total_received_principal',
 'total_received_interest',
 'last_payment_date',
 'last_payment_amnt',
 'next_payment_date',
 'last_credit_pull_date',
 'repay_fail',
 'term_numeric_in_months',
 'employment_length_numeric_in_years',
 'revolving_utillization_numeric']

In [74]:
df.loc[:4, categorical_columns]

,employment_length,home_ownership,verification_status,loan_status,purpose,zip_code,address_state,revolving_utillization
0,< 1 year,RENT,Not Verified,Charged Off,major_purchase,000xx,ZZ,“0.00%”
1,4 years,RENT,Not Verified,Does not meet the credit policy. Status:Fully ...,other,487xx,MI,0.213
2,4 years,RENT,Not Verified,Charged Off,debt_consolidation,115xx,NY,0.999
3,10+ years,MORTGAGE,Not Verified,Fully Paid,other,751xx,TX,0.472
4,10+ years,RENT,Not Verified,Fully Paid,debt_consolidation,112xx,NY,0

In [57]:
df['term'].unique()

array(['36 months', '60 months'], dtype=object)

In [60]:
df['term_numeric_in_months'] = df['term'].str.replace(' months', '').astype(int)

In [71]:
df.head()

,loan_amount,funded_amount,funded_amount_investors,interest_rate,installment,employment_length,home_ownership,annual_income,verification_status,issue_date,...,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail,term_numeric_in_months
0,0.0,0.0,0.0,0.00,0.00,< 1 year,RENT,0.0,Not Verified,1999-12-01,...,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1,36
1,2500.0,2500.0,2500.0,13.98,85.42,4 years,RENT,20004.0,Not Verified,2010-07-01,...,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0,36
2,5000.0,5000.0,5000.0,15.95,175.67,4 years,RENT,59000.0,Not Verified,2010-06-01,...,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,NaT,2012-03-01,1,36
3,7000.0,7000.0,7000.0,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,2011-09-01,...,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaT,2014-03-01,0,36
4,2000.0,2000.0,2000.0,5.42,60.32,10+ years,RENT,30000.0,Not Verified,2011-09-01,...,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,NaT,2016-06-01,0,36

In [65]:
df.drop('term', axis = 1, inplace = True)

In [75]:
df['employment_length'].unique()

array(['< 1 year', '4 years', '10+ years', nan, '3 years', '5 years',
       '7 years', '2 years', '1 year', '6 years', '9 years', '8 years'],
      dtype=object)

In [85]:
df['employment_length'].isna().sum()

993

In [80]:
df['employment_length'].isna().unique()

array([False,  True])

In [84]:
df.shape

(38480, 34)

In [86]:
df.dropna(subset=['employment_length'], inplace=True)

In [88]:
df.shape

(37487, 34)

In [89]:
df['employment_length'].isna().sum()

0

In [90]:
df['employment_length'].unique()

array(['< 1 year', '4 years', '10+ years', '3 years', '5 years',
       '7 years', '2 years', '1 year', '6 years', '9 years', '8 years'],
      dtype=object)

In [91]:
mapping_dict = {
    '< 1 year': 0.5,
    '1 year': 1,
    '2 years': 2,
    '3 years': 3,
    '4 years': 4,
    '5 years': 5,
    '6 years': 6,
    '7 years': 7,
    '8 years': 8,
    '9 years': 9,
    '10+ years': 10  # Assuming '10+ years' represents 10 or more years
}

In [92]:
df['employment_length_numeric_in_years'] = df['employment_length'].map(mapping_dict)

In [93]:
df.head()

,loan_amount,funded_amount,funded_amount_investors,interest_rate,installment,employment_length,home_ownership,annual_income,verification_status,issue_date,...,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail,term_numeric_in_months,employment_length_numeric_in_years
0,0.0,0.0,0.0,0.00,0.00,< 1 year,RENT,0.0,Not Verified,1999-12-01,...,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1,36,0.5
1,2500.0,2500.0,2500.0,13.98,85.42,4 years,RENT,20004.0,Not Verified,2010-07-01,...,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0,36,4.0
2,5000.0,5000.0,5000.0,15.95,175.67,4 years,RENT,59000.0,Not Verified,2010-06-01,...,2948.76,1909.02,873.81,2011-11-01,175.67,NaT,2012-03-01,1,36,4.0
3,7000.0,7000.0,7000.0,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,2011-09-01,...,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaT,2014-03-01,0,36,10.0
4,2000.0,2000.0,2000.0,5.42,60.32,10+ years,RENT,30000.0,Not Verified,2011-09-01,...,2161.66,2000.00,161.66,2014-02-01,53.12,NaT,2016-06-01,0,36,10.0

In [95]:
df.drop('employment_length', axis = 1, inplace = True)

In [96]:
df.head()

,loan_amount,funded_amount,funded_amount_investors,interest_rate,installment,home_ownership,annual_income,verification_status,issue_date,loan_status,...,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail,term_numeric_in_months,employment_length_numeric_in_years
0,0.0,0.0,0.0,0.00,0.00,RENT,0.0,Not Verified,1999-12-01,Charged Off,...,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1,36,0.5
1,2500.0,2500.0,2500.0,13.98,85.42,RENT,20004.0,Not Verified,2010-07-01,Does not meet the credit policy. Status:Fully ...,...,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0,36,4.0
2,5000.0,5000.0,5000.0,15.95,175.67,RENT,59000.0,Not Verified,2010-06-01,Charged Off,...,2948.76,1909.02,873.81,2011-11-01,175.67,NaT,2012-03-01,1,36,4.0
3,7000.0,7000.0,7000.0,9.91,225.58,MORTGAGE,53796.0,Not Verified,2011-09-01,Fully Paid,...,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaT,2014-03-01,0,36,10.0
4,2000.0,2000.0,2000.0,5.42,60.32,RENT,30000.0,Not Verified,2011-09-01,Fully Paid,...,2161.66,2000.00,161.66,2014-02-01,53.12,NaT,2016-06-01,0,36,10.0

In [100]:
df['home_ownership'].unique()

array(['RENT', 'MORTGAGE', 'OWN', 'OTHER', 'NONE'], dtype=object)

In [101]:
df['verification_status'].unique()

array(['Not Verified', 'Verified', 'Source Verified'], dtype=object)

In [102]:
df['loan_status'].unique()

array(['Charged Off',
       'Does not meet the credit policy. Status:Fully Paid', 'Fully Paid',
       'Current', 'Does not meet the credit policy. Status:Charged Off',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Default'], dtype=object)

In [103]:
for col in categorical_columns:
    print('{} has {} unique values'.format(col,df[col].unique()))
    print('\n')

home_ownership has ['RENT' 'MORTGAGE' 'OWN' 'OTHER' 'NONE'] unique values


verification_status has ['Not Verified' 'Verified' 'Source Verified'] unique values


loan_status has ['Charged Off' 'Does not meet the credit policy. Status:Fully Paid'
 'Fully Paid' 'Current'
 'Does not meet the credit policy. Status:Charged Off'
 'Late (31-120 days)' 'In Grace Period' 'Late (16-30 days)' 'Default'] unique values


purpose has ['major_purchase' 'other' 'debt_consolidation' 'credit_card'
 'small_business' 'medical' 'wedding' 'car' 'home_improvement'
 'educational' 'vacation' 'house' 'moving' 'renewable_energy'] unique values


zip_code has ['000xx' '487xx' '115xx' '751xx' '112xx' '352xx' '658xx' '105xx' '630xx'
 '450xx' '959xx' '721xx' '775xx' '857xx' '530xx' '240xx' '242xx' '784xx'
 '926xx' '300xx' '750xx' '088xx' '924xx' '321xx' '945xx' '934xx' '148xx'
 '941xx' '331xx' '995xx' '770xx' '760xx' '553xx' '532xx' '206xx' '853xx'
 '905xx' '956xx' '117xx' '951xx' '100xx' '430xx' '410xx' '619xx' '238xx'
 '999xx' '208xx' '432xx' '030xx' '457xx' '067xx' '921xx' '774xx' '983xx'
 '953xx' '113xx' '111xx' '275xx' '604xx' '070xx' '571xx' '201xx' '925xx'
 '481xx' '346xx' '229xx' '080xx' '846xx' '329xx' '573xx' '971xx' '283xx'
 '488xx' '018xx' '852xx' '786xx' '944xx' '906xx' '200xx' '830xx' '727xx'
 '937xx' '606xx' '981xx' '233xx' '302xx' '015xx' '538xx' '662xx' '190xx'
 '490xx' '363xx' '087xx' '290xx' '551xx' '151xx' '952xx' '107xx' '324xx'
 '368xx' '445xx' '325xx' '448xx' '176xx' '134xx' '955xx' '294xx' '038xx'
 '982xx' '720xx' '547xx' '940xx' '796xx' '948xx' '272xx' '908xx' '028xx'
 '780xx' '701xx' '800xx' '900xx' '303xx' '339xx' '967xx' '189xx' '950xx'
 '077xx' '296xx' '980xx' '194xx' '060xx' '322xx' '550xx' '027xx' '986xx'
 '783xx' '443xx' '907xx' '074xx' '211xx' '758xx' '141xx' '928xx' '142xx'
 '927xx' '985xx' '103xx' '641xx' '731xx' '297xx' '917xx' '020xx' '844xx'
 '815xx' '054xx' '193xx' '700xx' '214xx' '207xx' '446xx' '301xx' '152xx'
 '718xx' '161xx' '021xx' '923xx' '357xx' '891xx' '554xx' '563xx' '333xx'
 '897xx' '922xx' '167xx' '640xx' '063xx' '330xx' '014xx' '286xx' '085xx'
 '914xx' '124xx' '160xx' '326xx' '779xx' '219xx' '597xx' '651xx' '129xx'
 '306xx' '875xx' '146xx' '871xx' '195xx' '061xx' '782xx' '327xx' '805xx'
 '882xx' '992xx' '347xx' '131xx' '801xx' '495xx' '284xx' '902xx' '191xx'
 '451xx' '078xx' '209xx' '361xx' '349xx' '939xx' '104xx' '856xx' '920xx'
 '919xx' '402xx' '276xx' '314xx' '972xx' '843xx' '631xx' '549xx' '358xx'
 '216xx' '910xx' '254xx' '809xx' '787xx' '210xx' '232xx' '344xx' '069xx'
 '890xx' '125xx' '064xx' '335xx' '494xx' '292xx' '452xx' '334xx' '109xx'
 '893xx' '565xx' '540xx' '665xx' '930xx' '320xx' '127xx' '101xx' '541xx'
 '610xx' '913xx' '071xx' '441xx' '708xx' '762xx' '860xx' '605xx' '949xx'
 '236xx' '073xx' '761xx' '752xx' '797xx' '310xx' '136xx' '231xx' '282xx'
 '234xx' '221xx' '360xx' '601xx' '328xx' '212xx' '007xx' '976xx' '933xx'
 '461xx' '081xx' '600xx' '912xx' '773xx' '711xx' '660xx' '559xx' '765xx'
 '492xx' '076xx' '480xx' '226xx' '084xx' '802xx' '625xx' '984xx' '703xx'
 '342xx' '241xx' '274xx' '968xx' '564xx' '277xx' '453xx' '803xx' '946xx'
 '110xx' '436xx' '973xx' '706xx' '531xx' '223xx' '799xx' '543xx' '010xx'
 '114xx' '307xx' '130xx' '197xx' '145xx' '106xx' '013xx' '676xx' '011xx'
 '936xx' '763xx' '931xx' '877xx' '617xx' '855xx' '776xx' '947xx' '086xx'
 '618xx' '196xx' '778xx' '178xx' '138xx' '722xx' '222xx' '454xx' '372xx'
 '280xx' '645xx' '932xx' '958xx' '016xx' '108xx' '850xx' '199xx' '740xx'
 '220xx' '024xx' '156xx' '790xx' '444xx' '993xx' '918xx' '025xx' '172xx'
 '415xx' '560xx' '305xx' '883xx' '447xx' '841xx' '119xx' '707xx' '281xx'
 '245xx' '337xx' '915xx' '627xx' '083xx' '935xx' '759xx' '491xx' '144xx'
 '728xx' '865xx' '230xx' '140xx' '840xx' '411xx' '657xx' '777xx' '741xx'
 '133xx' '121xx' '068xx' '590xx' '974xx' '033xx' '180xx' '570xx' '482xx'
 '437xx' '315xx' '217xx' '317xx' '916xx' '031xx' '614xx' '227xx' '356xx'
 '150xx' '611xx' '123xx' '175xx' '312xx' '218xx' '066xx' '943xx' '427xx'
 '539xx' '546xx' '288xx' '804xx' '365xx' '278xx' '894xx' '336xx' '813xx'
 '225xx' '170xx' '634xx' '652xx' '537xx' '895xx' '421xx' '116xx' '135xx'
 '814xx' '260xx' '157xx' '407xx' '745xx' '704xx' '132xx' '079xx' '244xx'
 '354xx' '957xx' '705xx' '187xx' '667xx' '904xx' '829xx' '059xx' '204xx'
 '405xx' '678xx' '323xx' '012xx' '730xx' '970xx' '065xx' '735xx' '366xx'
 '440xx' '293xx' '989xx' '574xx' '766xx' '431xx' '756xx' '781xx' '120xx'
 '795xx' '594xx' '251xx' '598xx' '017xx' '764xx' '158xx' '816xx' '395xx'
 '228xx' '166xx' '811xx' '712xx' '544xx' '072xx' '685xx' '826xx' '198xx'
 '235xx' '960xx' '304xx' '019xx' '438xx' '376xx' '975xx' '246xx' '810xx'
 '749xx' '726xx' '351xx' '473xx' '757xx' '338xx' '185xx' '264xx' '767xx'
 '486xx' '023xx' '672xx' '118xx' '633xx' '394xx' '174xx' '359xx' '483xx'
 '954xx' '029xx' '350xx' '978xx' '864xx' '636xx' '285xx' '442xx' '318xx'
 '591xx' '769xx' '456xx' '183xx' '603xx' '668xx' '154xx' '155xx' '836xx'
 '622xx' '612xx' '259xx' '122xx' '400xx' '369xx' '557xx' '674xx' '961xx'
 '032xx' '644xx' '299xx' '075xx' '613xx' '181xx' '489xx' '602xx' '881xx'
 '620xx' '977xx' '273xx' '177xx' '435xx' '243xx' '785xx' '806xx' '383xx'
 '062xx' '669xx' '168xx' '319xx' '295xx' '089xx' '654xx' '837xx' '807xx'
 '403xx' '535xx' '656xx' '664xx' '615xx' '462xx' '628xx' '313xx' '988xx'
 '034xx' '498xx' '094xx' '165xx' '648xx' '186xx' '439xx' '171xx' '863xx'
 '355xx' '737xx' '609xx' '616xx' '173xx' '691xx' '026xx' '433xx' '137xx'
 '455xx' '139xx' '493xx' '990xx' '179xx' '255xx' '637xx' '851xx' '724xx'
 '500xx' '870xx' '458xx' '828xx' '723xx' '793xx' '607xx' '484xx' '898xx'
 '126xx' '341xx' '497xx' '820xx' '309xx' '808xx' '596xx' '655xx' '833xx'
 '965xx' '271xx' '566xx' '969xx' '128xx' '404xx' '270xx' '847xx' '279xx'
 '224xx' '053xx' '265xx' '754xx' '308xx' '182xx' '051xx' '362xx' '037xx'
 '827xx' '743xx' '791xx' '514xx' '542xx' '880xx' '381xx' '184xx' '287xx'
 '401xx' '545xx' '794xx' '423xx' '997xx' '298xx' '159xx' '903xx' '911xx'
 '534xx' '082xx' '153xx' '058xx' '998xx' '056xx' '629xx' '247xx' '392xx'
 '449xx' '022xx' '653xx' '681xx' '725xx' '422xx' '661xx' '675xx' '717xx'
 '788xx' '647xx' '626xx' '257xx' '364xx' '608xx' '845xx' '562xx' '577xx'
 '253xx' '792xx' '572xx' '164xx' '646xx' '713xx' '677xx' '409xx' '748xx'
 '057xx' '624xx' '316xx' '639xx' '469xx' '398xx' '041xx' '746xx' '367xx'
 '528xx' '256xx' '822xx' '527xx' '729xx' '666xx' '414xx' '420xx' '710xx'
 '149xx' '434xx' '258xx' '714xx' '143xx' '736xx' '385xx' '416xx' '418xx'
 '996xx' '425xx' '215xx' '391xx' '753xx' '147xx' '689xx' '291xx' '599xx'
 '188xx' '744xx' '824xx' '789xx' '371xx' '719xx' '496xx' '424xx' '623xx'
 '397xx' '470xx' '474xx' '567xx' '237xx' '716xx' '261xx' '263xx' '650xx'
 '262xx' '050xx' '561xx' '465xx' '558xx' '593xx' '755xx' '991xx' '052xx'
 '548xx' '102xx' '859xx' '239xx' '035xx' '671xx' '874xx' '163xx' '353xx'
 '768xx' '379xx' '485xx' '670xx' '575xx' '413xx' '522xx' '036xx' '248xx'
 '289xx' '812xx' '825xx' '252xx' '370xx' '388xx' '499xx' '479xx' '384xx'
 '576xx' '040xx' '268xx' '673xx' '503xx' '523xx' '884xx' '635xx' '374xx'
 '679xx' '408xx' '375xx' '963xx' '406xx' '471xx' '772xx' '426xx' '090xx'
 '267xx' '250xx' '390xx' '823xx' '378xx' '093xx' '096xx' '834xx' '832xx'
 '380xx' '332xx' '412xx' '638xx' '460xx' '203xx' '169xx' '266xx' '556xx'
 '373xx' '747xx' '249xx' '798xx' '739xx' '878xx' '831xx' '396xx' '595xx'
 '463xx' '592xx' '386xx' '044xx' '838xx'] unique values


address_state has ['ZZ' 'MI' 'NY' 'TX' 'AL' 'MO' 'OH' 'CA' 'AR' 'AZ' 'WI' 'VA' 'GA' 'NJ'
 'FL' 'AK' 'MN' 'MD' 'KY' 'IL' 'AA' 'NH' 'CT' 'WA' 'NC' 'SD' 'UT' 'OR'
 'MA' 'DC' 'WY' 'KS' 'PA' 'SC' 'RI' 'LA' 'CO' 'HI' 'OK' 'VT' 'NV' 'MT'
 'NM' 'WV' 'IN' 'DE' 'TN' 'MS' 'NE' 'ID' 'IA' 'ME'] unique values


revolving_utillization has ['“0.00%”' 0.213 0.999 ... 0.3688 0.1602 0.3773] unique values

In [104]:
df['purpose'].unique()

array(['major_purchase', 'other', 'debt_consolidation', 'credit_card',
       'small_business', 'medical', 'wedding', 'car', 'home_improvement',
       'educational', 'vacation', 'house', 'moving', 'renewable_energy'],
      dtype=object)

In [105]:
df['zip_code'].unique()

array(['000xx', '487xx', '115xx', '751xx', '112xx', '352xx', '658xx',
       '105xx', '630xx', '450xx', '959xx', '721xx', '775xx', '857xx',
       '530xx', '240xx', '242xx', '784xx', '926xx', '300xx', '750xx',
       '088xx', '924xx', '321xx', '945xx', '934xx', '148xx', '941xx',
       '331xx', '995xx', '770xx', '760xx', '553xx', '532xx', '206xx',
       '853xx', '905xx', '956xx', '117xx', '951xx', '100xx', '430xx',
       '410xx', '619xx', '238xx', '999xx', '208xx', '432xx', '030xx',
       '457xx', '067xx', '921xx', '774xx', '983xx', '953xx', '113xx',
       '111xx', '275xx', '604xx', '070xx', '571xx', '201xx', '925xx',
       '481xx', '346xx', '229xx', '080xx', '846xx', '329xx', '573xx',
       '971xx', '283xx', '488xx', '018xx', '852xx', '786xx', '944xx',
       '906xx', '200xx', '830xx', '727xx', '937xx', '606xx', '981xx',
       '233xx', '302xx', '015xx', '538xx', '662xx', '190xx', '490xx',
       '363xx', '087xx', '290xx', '551xx', '151xx', '952xx', '107xx',
       '324xx', '368xx', '445xx', '325xx', '448xx', '176xx', '134xx',
       '955xx', '294xx', '038xx', '982xx', '720xx', '547xx', '940xx',
       '796xx', '948xx', '272xx', '908xx', '028xx', '780xx', '701xx',
       '800xx', '900xx', '303xx', '339xx', '967xx', '189xx', '950xx',
       '077xx', '296xx', '980xx', '194xx', '060xx', '322xx', '550xx',
       '027xx', '986xx', '783xx', '443xx', '907xx', '074xx', '211xx',
       '758xx', '141xx', '928xx', '142xx', '927xx', '985xx', '103xx',
       '641xx', '731xx', '297xx', '917xx', '020xx', '844xx', '815xx',
       '054xx', '193xx', '700xx', '214xx', '207xx', '446xx', '301xx',
       '152xx', '718xx', '161xx', '021xx', '923xx', '357xx', '891xx',
       '554xx', '563xx', '333xx', '897xx', '922xx', '167xx', '640xx',
       '063xx', '330xx', '014xx', '286xx', '085xx', '914xx', '124xx',
       '160xx', '326xx', '779xx', '219xx', '597xx', '651xx', '129xx',
       '306xx', '875xx', '146xx', '871xx', '195xx', '061xx', '782xx',
       '327xx', '805xx', '882xx', '992xx', '347xx', '131xx', '801xx',
       '495xx', '284xx', '902xx', '191xx', '451xx', '078xx', '209xx',
       '361xx', '349xx', '939xx', '104xx', '856xx', '920xx', '919xx',
       '402xx', '276xx', '314xx', '972xx', '843xx', '631xx', '549xx',
       '358xx', '216xx', '910xx', '254xx', '809xx', '787xx', '210xx',
       '232xx', '344xx', '069xx', '890xx', '125xx', '064xx', '335xx',
       '494xx', '292xx', '452xx', '334xx', '109xx', '893xx', '565xx',
       '540xx', '665xx', '930xx', '320xx', '127xx', '101xx', '541xx',
       '610xx', '913xx', '071xx', '441xx', '708xx', '762xx', '860xx',
       '605xx', '949xx', '236xx', '073xx', '761xx', '752xx', '797xx',
       '310xx', '136xx', '231xx', '282xx', '234xx', '221xx', '360xx',
       '601xx', '328xx', '212xx', '007xx', '976xx', '933xx', '461xx',
       '081xx', '600xx', '912xx', '773xx', '711xx', '660xx', '559xx',
       '765xx', '492xx', '076xx', '480xx', '226xx', '084xx', '802xx',
       '625xx', '984xx', '703xx', '342xx', '241xx', '274xx', '968xx',
       '564xx', '277xx', '453xx', '803xx', '946xx', '110xx', '436xx',
       '973xx', '706xx', '531xx', '223xx', '799xx', '543xx', '010xx',
       '114xx', '307xx', '130xx', '197xx', '145xx', '106xx', '013xx',
       '676xx', '011xx', '936xx', '763xx', '931xx', '877xx', '617xx',
       '855xx', '776xx', '947xx', '086xx', '618xx', '196xx', '778xx',
       '178xx', '138xx', '722xx', '222xx', '454xx', '372xx', '280xx',
       '645xx', '932xx', '958xx', '016xx', '108xx', '850xx', '199xx',
       '740xx', '220xx', '024xx', '156xx', '790xx', '444xx', '993xx',
       '918xx', '025xx', '172xx', '415xx', '560xx', '305xx', '883xx',
       '447xx', '841xx', '119xx', '707xx', '281xx', '245xx', '337xx',
       '915xx', '627xx', '083xx', '935xx', '759xx', '491xx', '144xx',
       '728xx', '865xx', '230xx', '140xx', '840xx', '411xx', '657xx',
       '777xx', '741xx', '133xx', '121xx', '068xx', '590xx', '974xx',
       '033xx', '180xx', '570xx', '482xx', '437xx', '315xx', '217xx',
       '317xx', '916xx', '031xx', '614xx', '227xx', '356xx', '150xx',
       '611xx', '123xx', '175xx', '312xx', '218xx', '066xx', '943xx',
       '427xx', '539xx', '546xx', '288xx', '804xx', '365xx', '278xx',
       '894xx', '336xx', '813xx', '225xx', '170xx', '634xx', '652xx',
       '537xx', '895xx', '421xx', '116xx', '135xx', '814xx', '260xx',
       '157xx', '407xx', '745xx', '704xx', '132xx', '079xx', '244xx',
       '354xx', '957xx', '705xx', '187xx', '667xx', '904xx', '829xx',
       '059xx', '204xx', '405xx', '678xx', '323xx', '012xx', '730xx',
       '970xx', '065xx', '735xx', '366xx', '440xx', '293xx', '989xx',
       '574xx', '766xx', '431xx', '756xx', '781xx', '120xx', '795xx',
       '594xx', '251xx', '598xx', '017xx', '764xx', '158xx', '816xx',
       '395xx', '228xx', '166xx', '811xx', '712xx', '544xx', '072xx',
       '685xx', '826xx', '198xx', '235xx', '960xx', '304xx', '019xx',
       '438xx', '376xx', '975xx', '246xx', '810xx', '749xx', '726xx',
       '351xx', '473xx', '757xx', '338xx', '185xx', '264xx', '767xx',
       '486xx', '023xx', '672xx', '118xx', '633xx', '394xx', '174xx',
       '359xx', '483xx', '954xx', '029xx', '350xx', '978xx', '864xx',
       '636xx', '285xx', '442xx', '318xx', '591xx', '769xx', '456xx',
       '183xx', '603xx', '668xx', '154xx', '155xx', '836xx', '622xx',
       '612xx', '259xx', '122xx', '400xx', '369xx', '557xx', '674xx',
       '961xx', '032xx', '644xx', '299xx', '075xx', '613xx', '181xx',
       '489xx', '602xx', '881xx', '620xx', '977xx', '273xx', '177xx',
       '435xx', '243xx', '785xx', '806xx', '383xx', '062xx', '669xx',
       '168xx', '319xx', '295xx', '089xx', '654xx', '837xx', '807xx',
       '403xx', '535xx', '656xx', '664xx', '615xx', '462xx', '628xx',
       '313xx', '988xx', '034xx', '498xx', '094xx', '165xx', '648xx',
       '186xx', '439xx', '171xx', '863xx', '355xx', '737xx', '609xx',
       '616xx', '173xx', '691xx', '026xx', '433xx', '137xx', '455xx',
       '139xx', '493xx', '990xx', '179xx', '255xx', '637xx', '851xx',
       '724xx', '500xx', '870xx', '458xx', '828xx', '723xx', '793xx',
       '607xx', '484xx', '898xx', '126xx', '341xx', '497xx', '820xx',
       '309xx', '808xx', '596xx', '655xx', '833xx', '965xx', '271xx',
       '566xx', '969xx', '128xx', '404xx', '270xx', '847xx', '279xx',
       '224xx', '053xx', '265xx', '754xx', '308xx', '182xx', '051xx',
       '362xx', '037xx', '827xx', '743xx', '791xx', '514xx', '542xx',
       '880xx', '381xx', '184xx', '287xx', '401xx', '545xx', '794xx',
       '423xx', '997xx', '298xx', '159xx', '903xx', '911xx', '534xx',
       '082xx', '153xx', '058xx', '998xx', '056xx', '629xx', '247xx',
       '392xx', '449xx', '022xx', '653xx', '681xx', '725xx', '422xx',
       '661xx', '675xx', '717xx', '788xx', '647xx', '626xx', '257xx',
       '364xx', '608xx', '845xx', '562xx', '577xx', '253xx', '792xx',
       '572xx', '164xx', '646xx', '713xx', '677xx', '409xx', '748xx',
       '057xx', '624xx', '316xx', '639xx', '469xx', '398xx', '041xx',
       '746xx', '367xx', '528xx', '256xx', '822xx', '527xx', '729xx',
       '666xx', '414xx', '420xx', '710xx', '149xx', '434xx', '258xx',
       '714xx', '143xx', '736xx', '385xx', '416xx', '418xx', '996xx',
       '425xx', '215xx', '391xx', '753xx', '147xx', '689xx', '291xx',
       '599xx', '188xx', '744xx', '824xx', '789xx', '371xx', '719xx',
       '496xx', '424xx', '623xx', '397xx', '470xx', '474xx', '567xx',
       '237xx', '716xx', '261xx', '263xx', '650xx', '262xx', '050xx',
       '561xx', '465xx', '558xx', '593xx', '755xx', '991xx', '052xx',
       '548xx', '102xx', '859xx', '239xx', '035xx', '671xx', '874xx',
       '163xx', '353xx', '768xx', '379xx', '485xx', '670xx', '575xx',
       '413xx', '522xx', '036xx', '248xx', '289xx', '812xx', '825xx',
       '252xx', '370xx', '388xx', '499xx', '479xx', '384xx', '576xx',
       '040xx', '268xx', '673xx', '503xx', '523xx', '884xx', '635xx',
       '374xx', '679xx', '408xx', '375xx', '963xx', '406xx', '471xx',
       '772xx', '426xx', '090xx', '267xx', '250xx', '390xx', '823xx',
       '378xx', '093xx', '096xx', '834xx', '832xx', '380xx', '332xx',
       '412xx', '638xx', '460xx', '203xx', '169xx', '266xx', '556xx',
       '373xx', '747xx', '249xx', '798xx', '739xx', '878xx', '831xx',
       '396xx', '595xx', '463xx', '592xx', '386xx', '044xx', '838xx'],
      dtype=object)

In [106]:
df['zip_code']

0        000xx
1        487xx
2        115xx
3        751xx
4        112xx
         ...
38475    805xx
38476    442xx
38477    073xx
38478    061xx
38479    484xx
Name: zip_code, Length: 37487, dtype: object

In [107]:
df['address_state'].unique()

array(['ZZ', 'MI', 'NY', 'TX', 'AL', 'MO', 'OH', 'CA', 'AR', 'AZ', 'WI',
       'VA', 'GA', 'NJ', 'FL', 'AK', 'MN', 'MD', 'KY', 'IL', 'AA', 'NH',
       'CT', 'WA', 'NC', 'SD', 'UT', 'OR', 'MA', 'DC', 'WY', 'KS', 'PA',
       'SC', 'RI', 'LA', 'CO', 'HI', 'OK', 'VT', 'NV', 'MT', 'NM', 'WV',
       'IN', 'DE', 'TN', 'MS', 'NE', 'ID', 'IA', 'ME'], dtype=object)

In [108]:
df['revolving_utillization'].unique()

array(['“0.00%”', 0.213, 0.999, ..., 0.3688, 0.1602, 0.3773], dtype=object)

In [116]:
df['revolving_utillization'].nunique()

1108

In [117]:
df['revolving_utillization_numeric'] = pd.to_numeric(df['revolving_utillization'], errors='coerce')

In [118]:
df.head()

,loan_amount,funded_amount,funded_amount_investors,interest_rate,installment,home_ownership,annual_income,verification_status,issue_date,loan_status,...,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail,term_numeric_in_months,employment_length_numeric_in_years,revolving_utillization_numeric
0,0.0,0.0,0.0,0.00,0.00,RENT,0.0,Not Verified,1999-12-01,Charged Off,...,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1,36,0.5,NaN
1,2500.0,2500.0,2500.0,13.98,85.42,RENT,20004.0,Not Verified,2010-07-01,Does not meet the credit policy. Status:Fully ...,...,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0,36,4.0,0.213
2,5000.0,5000.0,5000.0,15.95,175.67,RENT,59000.0,Not Verified,2010-06-01,Charged Off,...,1909.02,873.81,2011-11-01,175.67,NaT,2012-03-01,1,36,4.0,0.999
3,7000.0,7000.0,7000.0,9.91,225.58,MORTGAGE,53796.0,Not Verified,2011-09-01,Fully Paid,...,7000.00,1082.39,2014-03-01,1550.27,NaT,2014-03-01,0,36,10.0,0.472
4,2000.0,2000.0,2000.0,5.42,60.32,RENT,30000.0,Not Verified,2011-09-01,Fully Paid,...,2000.00,161.66,2014-02-01,53.12,NaT,2016-06-01,0,36,10.0,0.000

In [119]:
df['revolving_utillization_numeric'].isna().sum()

58

In [120]:
df.drop('revolving_utillization', axis = 1, inplace = True)