In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
print("Test Python")

Test Python

In [30]:
data_shape = df.shape
total_rows = data_shape[0]
total_columns = data_shape[1]

print(f'Total number of rows: {total_rows}')
print(f'Total number of columns: {total_columns}')

Total number of rows: 38480
Total number of columns: 35

In [42]:
data_source_path = '../src/loan_default_data.xlsx'

df = pd.read_excel(data_source_path)

In [43]:
# Display the DataFrame before deleting the column
print("Before deleting the index column from raw xlsx file:")
df.head()

Before deleting the index column from raw xlsx file:

,Unnamed: 0,id,member_id,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,...,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail
0,2,2,2,0.0,0.0,0.0,36 months,0.00,0.00,< 1 year,...,1.0,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1
1,3,545583,703644,2500.0,2500.0,2500.0,36 months,13.98,85.42,4 years,...,10.0,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0
2,4,532101,687836,5000.0,5000.0,5000.0,36 months,15.95,175.67,4 years,...,15.0,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,NaT,2012-03-01,1
3,5,877788,1092507,7000.0,7000.0,7000.0,36 months,9.91,225.58,10+ years,...,20.0,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaT,2014-03-01,0
4,6,875406,1089981,2000.0,2000.0,2000.0,36 months,5.42,60.32,10+ years,...,15.0,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,NaT,2016-06-01,0

In [44]:
df = df.iloc[:, 1:]

# Display the DataFrame after deleting the column
print("\nAfter deleting the column:")
df.head()

After deleting the column:

,id,member_id,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,home_ownership,...,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail
0,2,2,0.0,0.0,0.0,36 months,0.00,0.00,< 1 year,RENT,...,1.0,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1
1,545583,703644,2500.0,2500.0,2500.0,36 months,13.98,85.42,4 years,RENT,...,10.0,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0
2,532101,687836,5000.0,5000.0,5000.0,36 months,15.95,175.67,4 years,RENT,...,15.0,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,NaT,2012-03-01,1
3,877788,1092507,7000.0,7000.0,7000.0,36 months,9.91,225.58,10+ years,MORTGAGE,...,20.0,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaT,2014-03-01,0
4,875406,1089981,2000.0,2000.0,2000.0,36 months,5.42,60.32,10+ years,RENT,...,15.0,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,NaT,2016-06-01,0

In [45]:
df.dtypes

id                                        int64
member_id                                 int64
loan_amount                             float64
funded_amount                           float64
funded_amount_investors                 float64
term                                     object
interest_rate                           float64
installment                             float64
employment_length                        object
home_ownership                           object
annual_income                           float64
verification_status                      object
issue_date                       datetime64[ns]
loan_status                              object
purpose                                  object
zip_code                                 object
address_state                            object
debt_to_income_ratio                    float64
no_delinquency_2yrs                     float64
earliest_credit_line             datetime64[ns]
inquiries_last_6mths                    float64
months_since_last_delinquency           float64
no_open_accounts                        float64
public_records                          float64
revolving_balance                       float64
revolving_utillization                   object
no_total_account                        float64
total_payment                           float64
total_payment_investors                 float64
total_received_principal                float64
total_received_interest                 float64
last_payment_date                datetime64[ns]
last_payment_amnt                       float64
next_payment_date                datetime64[ns]
last_credit_pull_date            datetime64[ns]
repay_fail                                int64
dtype: object

In [46]:
duplicate_rows = df.duplicated().sum()

print(f"Total number of duplicate rows: {duplicate_rows}")

Total number of duplicate rows: 0

In [47]:
df.drop('id', axis = 1, inplace = True)
df.drop('member_id', axis = 1, inplace = True)

df.head()

,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,home_ownership,annual_income,verification_status,...,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail
0,0.0,0.0,0.0,36 months,0.00,0.00,< 1 year,RENT,0.0,Not Verified,...,1.0,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1
1,2500.0,2500.0,2500.0,36 months,13.98,85.42,4 years,RENT,20004.0,Not Verified,...,10.0,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0
2,5000.0,5000.0,5000.0,36 months,15.95,175.67,4 years,RENT,59000.0,Not Verified,...,15.0,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,NaT,2012-03-01,1
3,7000.0,7000.0,7000.0,36 months,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,...,20.0,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaT,2014-03-01,0
4,2000.0,2000.0,2000.0,36 months,5.42,60.32,10+ years,RENT,30000.0,Not Verified,...,15.0,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,NaT,2016-06-01,0

In [48]:
df.dtypes

loan_amount                             float64
funded_amount                           float64
funded_amount_investors                 float64
term                                     object
interest_rate                           float64
installment                             float64
employment_length                        object
home_ownership                           object
annual_income                           float64
verification_status                      object
issue_date                       datetime64[ns]
loan_status                              object
purpose                                  object
zip_code                                 object
address_state                            object
debt_to_income_ratio                    float64
no_delinquency_2yrs                     float64
earliest_credit_line             datetime64[ns]
inquiries_last_6mths                    float64
months_since_last_delinquency           float64
no_open_accounts                        float64
public_records                          float64
revolving_balance                       float64
revolving_utillization                   object
no_total_account                        float64
total_payment                           float64
total_payment_investors                 float64
total_received_principal                float64
total_received_interest                 float64
last_payment_date                datetime64[ns]
last_payment_amnt                       float64
next_payment_date                datetime64[ns]
last_credit_pull_date            datetime64[ns]
repay_fail                                int64
dtype: object