**Building ML Algorithm To Predict Which Existing Borrowers Will Fail Repayment**

Importing necessary libraries for data cleaning and exploration :

In [201]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Printing some text to test if Python is working properly

In [202]:
print("Welcome Not A Loan Shark Sdn. Bhd.! :)")

Welcome Not A Loan Shark Sdn. Bhd.! :)

Importing data set from a .xlsx file

In [203]:
data_source_path = '../src/loan_default_data.xlsx'

df = pd.read_excel(data_source_path)

Creating a function to ease the process of checking our data shape :

In [204]:
def checkDataShape(df):
    data_shape = df.shape
    total_rows = data_shape[0]
    total_columns = data_shape[1]
    print(f'Total number of rows: {total_rows}')
    print(f'Total number of columns: {total_columns}')

Trying to see the nature or shape of the dataset

In [205]:
checkDataShape(df)

Total number of rows: 38480
Total number of columns: 37

In [206]:
df.head()

,Unnamed: 0,id,member_id,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,...,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail
0,2,2,2,0.0,0.0,0.0,36 months,0.00,0.00,< 1 year,...,1.0,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1
1,3,545583,703644,2500.0,2500.0,2500.0,36 months,13.98,85.42,4 years,...,10.0,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0
2,4,532101,687836,5000.0,5000.0,5000.0,36 months,15.95,175.67,4 years,...,15.0,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,NaT,2012-03-01,1
3,5,877788,1092507,7000.0,7000.0,7000.0,36 months,9.91,225.58,10+ years,...,20.0,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaT,2014-03-01,0
4,6,875406,1089981,2000.0,2000.0,2000.0,36 months,5.42,60.32,10+ years,...,15.0,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,NaT,2016-06-01,0

As you can see above, this is the raw data set from .xlsx file. The first column has the column name 'Unnamed: 0' which is by default the indexing from the .xlsx file. This column will have no use in our Machine Learning Building process.This needs to be dropped as follow :

In [207]:
print("Before deleting the index column from raw .xlsx file:")
checkDataShape(df)
df.head()

Before deleting the index column from raw .xlsx file:
Total number of rows: 38480
Total number of columns: 37

,Unnamed: 0,id,member_id,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,...,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail
0,2,2,2,0.0,0.0,0.0,36 months,0.00,0.00,< 1 year,...,1.0,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1
1,3,545583,703644,2500.0,2500.0,2500.0,36 months,13.98,85.42,4 years,...,10.0,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0
2,4,532101,687836,5000.0,5000.0,5000.0,36 months,15.95,175.67,4 years,...,15.0,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,NaT,2012-03-01,1
3,5,877788,1092507,7000.0,7000.0,7000.0,36 months,9.91,225.58,10+ years,...,20.0,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaT,2014-03-01,0
4,6,875406,1089981,2000.0,2000.0,2000.0,36 months,5.42,60.32,10+ years,...,15.0,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,NaT,2016-06-01,0

In [208]:
df = df.iloc[:, 1:]

checkDataShape(df)
print("\nAfter deleting the column:")
df.head()

Total number of rows: 38480
Total number of columns: 36

After deleting the column:

,id,member_id,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,home_ownership,...,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail
0,2,2,0.0,0.0,0.0,36 months,0.00,0.00,< 1 year,RENT,...,1.0,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1
1,545583,703644,2500.0,2500.0,2500.0,36 months,13.98,85.42,4 years,RENT,...,10.0,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0
2,532101,687836,5000.0,5000.0,5000.0,36 months,15.95,175.67,4 years,RENT,...,15.0,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,NaT,2012-03-01,1
3,877788,1092507,7000.0,7000.0,7000.0,36 months,9.91,225.58,10+ years,MORTGAGE,...,20.0,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaT,2014-03-01,0
4,875406,1089981,2000.0,2000.0,2000.0,36 months,5.42,60.32,10+ years,RENT,...,15.0,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,NaT,2016-06-01,0

**DATA CLEANING PROCESS**

Next, I want to see the nature of the data type in each column. From here, I want to further see which data needs to be cleaned and to be processed right.

In [209]:
df.dtypes

id                                        int64
member_id                                 int64
loan_amount                             float64
funded_amount                           float64
funded_amount_investors                 float64
term                                     object
interest_rate                           float64
installment                             float64
employment_length                        object
home_ownership                           object
annual_income                           float64
verification_status                      object
issue_date                       datetime64[ns]
loan_status                              object
purpose                                  object
zip_code                                 object
address_state                            object
debt_to_income_ratio                    float64
no_delinquency_2yrs                     float64
earliest_credit_line             datetime64[ns]
inquiries_last_6mths                    float64
months_since_last_delinquency           float64
no_open_accounts                        float64
public_records                          float64
revolving_balance                       float64
revolving_utillization                   object
no_total_account                        float64
total_payment                           float64
total_payment_investors                 float64
total_received_principal                float64
total_received_interest                 float64
last_payment_date                datetime64[ns]
last_payment_amnt                       float64
next_payment_date                datetime64[ns]
last_credit_pull_date            datetime64[ns]
repay_fail                                int64
dtype: object

I want to check if our data has duplicated rows in this early stage of data cleaning. If it has any, then it needs to be dropped accordingly.

In [210]:
duplicate_rows = df.duplicated().sum()

print(f"Total number of duplicate rows: {duplicate_rows}")

Total number of duplicate rows: 0

It is a good thing that we dont have any duplicate rows in our data. Next, I will be dropping the 'id' and 'member_id' columns from our data set. This is because these 2 fields would not have any impact on whether a client can pay back their loan or not.

In [211]:
df.drop('id', axis = 1, inplace = True)
df.drop('member_id', axis = 1, inplace = True)

checkDataShape(df)
df.head()

Total number of rows: 38480
Total number of columns: 34

,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,home_ownership,annual_income,verification_status,...,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail
0,0.0,0.0,0.0,36 months,0.00,0.00,< 1 year,RENT,0.0,Not Verified,...,1.0,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1
1,2500.0,2500.0,2500.0,36 months,13.98,85.42,4 years,RENT,20004.0,Not Verified,...,10.0,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0
2,5000.0,5000.0,5000.0,36 months,15.95,175.67,4 years,RENT,59000.0,Not Verified,...,15.0,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,NaT,2012-03-01,1
3,7000.0,7000.0,7000.0,36 months,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,...,20.0,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaT,2014-03-01,0
4,2000.0,2000.0,2000.0,36 months,5.42,60.32,10+ years,RENT,30000.0,Not Verified,...,15.0,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,NaT,2016-06-01,0

As we can see above, now the total number of columns is 34. The inital raw data set contained 37 columns in total. By far yet, we have dropped 3 columns :
1. Default Indexing Column from .xlsx file (Unnamed)
2. 'id' column
3. 'member_id' column

All these 3 columns are considered to be unimportant as it will not contribute anything to predict as whether a client can pay back their loan or not.
______________________________________________________________________________________

Next, I want to see again the nature of our data :

In [212]:
df.dtypes

loan_amount                             float64
funded_amount                           float64
funded_amount_investors                 float64
term                                     object
interest_rate                           float64
installment                             float64
employment_length                        object
home_ownership                           object
annual_income                           float64
verification_status                      object
issue_date                       datetime64[ns]
loan_status                              object
purpose                                  object
zip_code                                 object
address_state                            object
debt_to_income_ratio                    float64
no_delinquency_2yrs                     float64
earliest_credit_line             datetime64[ns]
inquiries_last_6mths                    float64
months_since_last_delinquency           float64
no_open_accounts                        float64
public_records                          float64
revolving_balance                       float64
revolving_utillization                   object
no_total_account                        float64
total_payment                           float64
total_payment_investors                 float64
total_received_principal                float64
total_received_interest                 float64
last_payment_date                datetime64[ns]
last_payment_amnt                       float64
next_payment_date                datetime64[ns]
last_credit_pull_date            datetime64[ns]
repay_fail                                int64
dtype: object

From the result above, I want to dive deeper to see the columns that have Categorical and Numerical data. I want to further verify if their data type fits with the context that the data brings.

Creating a function to check for Categorical vs Numerical data :

In [213]:
def extract_categorical_numerical_cols(df):
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    numerical_columns = [col for col in df.columns if df[col].dtype != 'object']
    
    print("Categorical columns:")
    for idx, col in enumerate(categorical_columns, start=1):
        print(f"{idx}. {col}")
        
    print("\nNumerical columns:")
    for idx, col in enumerate(numerical_columns, start=1):
        print(f"{idx}. {col}")

    return categorical_columns, numerical_columns

In [190]:
categorical_columns, numerical_columns = extract_categorical_numerical_cols(df)

Categorical columns:
1. term
2. employment_length
3. home_ownership
4. verification_status
5. loan_status
6. purpose
7. zip_code
8. address_state
9. revolving_utillization

Numerical columns:
1. loan_amount
2. funded_amount
3. funded_amount_investors
4. interest_rate
5. installment
6. annual_income
7. issue_date
8. debt_to_income_ratio
9. no_delinquency_2yrs
10. earliest_credit_line
11. inquiries_last_6mths
12. months_since_last_delinquency
13. no_open_accounts
14. public_records
15. revolving_balance
16. no_total_account
17. total_payment
18. total_payment_investors
19. total_received_principal
20. total_received_interest
21. last_payment_date
22. last_payment_amnt
23. next_payment_date
24. last_credit_pull_date
25. repay_fail

Above is the list of columns distinguished by their type. I can see that all the context is fit for the numerical data based on their column names. However, for Catgorical data, I want to go deeper to check and see if the data inside is correct within their narratives.

In [192]:
df.loc[:2, categorical_columns]

,term,employment_length,home_ownership,verification_status,loan_status,purpose,zip_code,address_state,revolving_utillization
0,36 months,< 1 year,RENT,Not Verified,Charged Off,major_purchase,000xx,ZZ,“0.00%”
1,36 months,4 years,RENT,Not Verified,Does not meet the credit policy. Status:Fully ...,other,487xx,MI,0.213
2,36 months,4 years,RENT,Not Verified,Charged Off,debt_consolidation,115xx,NY,0.999

In [214]:
for col in categorical_columns:
    print('{} has {} unique values'.format(col,df[col].unique()))
    print('\n')

term has ['36 months' '60 months'] unique values


employment_length has ['< 1 year' '4 years' '10+ years' nan '3 years' '5 years' '7 years'
 '2 years' '1 year' '6 years' '9 years' '8 years'] unique values


home_ownership has ['RENT' 'MORTGAGE' 'OWN' 'OTHER' 'NONE'] unique values


verification_status has ['Not Verified' 'Verified' 'Source Verified'] unique values


loan_status has ['Charged Off' 'Does not meet the credit policy. Status:Fully Paid'
 'Fully Paid' 'Current'
 'Does not meet the credit policy. Status:Charged Off'
 'Late (31-120 days)' 'In Grace Period' 'Late (16-30 days)' 'Default'] unique values


purpose has ['major_purchase' 'other' 'debt_consolidation' 'credit_card'
 'small_business' 'medical' 'wedding' 'car' 'home_improvement'
 'educational' 'vacation' 'house' 'moving' 'renewable_energy'] unique values


zip_code has ['000xx' '487xx' '115xx' '751xx' '112xx' '352xx' '853xx' '658xx' '105xx'
 '630xx' '450xx' '959xx' '721xx' '775xx' '857xx' '530xx' '240xx' '242xx'
 '784xx' '926xx' '300xx' '750xx' '088xx' '924xx' '321xx' '945xx' '934xx'
 '148xx' '941xx' '331xx' '995xx' '770xx' '760xx' '021xx' '553xx' '532xx'
 '206xx' '905xx' '956xx' '117xx' '951xx' '100xx' '430xx' '410xx' '619xx'
 '238xx' '999xx' '208xx' '432xx' '030xx' '457xx' '067xx' '921xx' '774xx'
 '983xx' '953xx' '113xx' '480xx' '111xx' '275xx' '604xx' '070xx' '571xx'
 '201xx' '925xx' '481xx' '346xx' '229xx' '080xx' '846xx' '329xx' '573xx'
 '971xx' '283xx' '488xx' '018xx' '852xx' '786xx' '944xx' '906xx' '200xx'
 '830xx' '727xx' '937xx' '606xx' '981xx' '233xx' '302xx' '015xx' '538xx'
 '662xx' '190xx' '490xx' '363xx' '087xx' '290xx' '551xx' '151xx' '952xx'
 '107xx' '324xx' '368xx' '445xx' '325xx' '448xx' '176xx' '134xx' '955xx'
 '347xx' '294xx' '038xx' '982xx' '720xx' '547xx' '940xx' '796xx' '948xx'
 '272xx' '908xx' '028xx' '780xx' '968xx' '701xx' '800xx' '900xx' '303xx'
 '339xx' '967xx' '354xx' '189xx' '950xx' '077xx' '256xx' '296xx' '980xx'
 '194xx' '060xx' '322xx' '550xx' '027xx' '986xx' '783xx' '443xx' '907xx'
 '074xx' '211xx' '758xx' '141xx' '928xx' '142xx' '927xx' '985xx' '103xx'
 '641xx' '731xx' '297xx' '917xx' '020xx' '844xx' '815xx' '054xx' '193xx'
 '700xx' '214xx' '207xx' '446xx' '301xx' '152xx' '718xx' '161xx' '923xx'
 '357xx' '891xx' '554xx' '563xx' '333xx' '805xx' '897xx' '922xx' '167xx'
 '640xx' '063xx' '330xx' '850xx' '282xx' '014xx' '286xx' '085xx' '914xx'
 '124xx' '160xx' '326xx' '779xx' '219xx' '597xx' '651xx' '129xx' '306xx'
 '875xx' '146xx' '871xx' '195xx' '061xx' '782xx' '327xx' '218xx' '882xx'
 '992xx' '131xx' '801xx' '495xx' '284xx' '902xx' '191xx' '451xx' '078xx'
 '209xx' '361xx' '349xx' '939xx' '104xx' '856xx' '920xx' '919xx' '402xx'
 '276xx' '314xx' '972xx' '843xx' '631xx' '549xx' '358xx' '216xx' '910xx'
 '254xx' '809xx' '787xx' '210xx' '232xx' '344xx' '069xx' '890xx' '486xx'
 '125xx' '064xx' '335xx' '494xx' '292xx' '452xx' '334xx' '109xx' '893xx'
 '350xx' '565xx' '540xx' '665xx' '930xx' '320xx' '127xx' '101xx' '541xx'
 '610xx' '913xx' '071xx' '599xx' '441xx' '708xx' '762xx' '860xx' '605xx'
 '949xx' '236xx' '073xx' '761xx' '752xx' '797xx' '310xx' '136xx' '231xx'
 '234xx' '221xx' '360xx' '601xx' '328xx' '212xx' '007xx' '976xx' '933xx'
 '461xx' '081xx' '600xx' '912xx' '773xx' '711xx' '660xx' '537xx' '719xx'
 '559xx' '765xx' '492xx' '076xx' '226xx' '084xx' '802xx' '841xx' '625xx'
 '984xx' '703xx' '245xx' '342xx' '241xx' '274xx' '564xx' '277xx' '453xx'
 '803xx' '946xx' '110xx' '436xx' '973xx' '706xx' '531xx' '223xx' '799xx'
 '543xx' '010xx' '114xx' '307xx' '130xx' '197xx' '145xx' '106xx' '013xx'
 '676xx' '011xx' '936xx' '763xx' '931xx' '877xx' '617xx' '855xx' '776xx'
 '947xx' '086xx' '618xx' '196xx' '778xx' '178xx' '138xx' '722xx' '222xx'
 '454xx' '372xx' '280xx' '645xx' '932xx' '958xx' '315xx' '016xx' '108xx'
 '199xx' '740xx' '220xx' '024xx' '156xx' '790xx' '019xx' '444xx' '993xx'
 '918xx' '025xx' '172xx' '415xx' '560xx' '366xx' '305xx' '883xx' '447xx'
 '119xx' '707xx' '281xx' '337xx' '915xx' '627xx' '083xx' '935xx' '759xx'
 '491xx' '144xx' '728xx' '865xx' '230xx' '140xx' '840xx' '411xx' '657xx'
 '421xx' '777xx' '741xx' '990xx' '133xx' '121xx' '535xx' '068xx' '590xx'
 '974xx' '033xx' '180xx' '570xx' '482xx' '437xx' '217xx' '317xx' '916xx'
 '031xx' '614xx' '227xx' '356xx' '150xx' '611xx' '123xx' '175xx' '312xx'
 '066xx' '943xx' '427xx' '539xx' '546xx' '288xx' '804xx' '365xx' '278xx'
 '894xx' '336xx' '813xx' '225xx' '170xx' '634xx' '652xx' '895xx' '116xx'
 '135xx' '814xx' '260xx' '157xx' '407xx' '745xx' '704xx' '132xx' '079xx'
 '244xx' '957xx' '705xx' '187xx' '667xx' '904xx' '829xx' '059xx' '204xx'
 '405xx' '678xx' '323xx' '012xx' '730xx' '970xx' '065xx' '735xx' '440xx'
 '293xx' '989xx' '574xx' '766xx' '431xx' '756xx' '781xx' '120xx' '795xx'
 '035xx' '594xx' '251xx' '598xx' '017xx' '764xx' '158xx' '816xx' '395xx'
 '228xx' '166xx' '811xx' '712xx' '544xx' '072xx' '685xx' '826xx' '198xx'
 '235xx' '960xx' '996xx' '304xx' '438xx' '376xx' '975xx' '246xx' '810xx'
 '749xx' '726xx' '351xx' '473xx' '757xx' '338xx' '185xx' '264xx' '767xx'
 '023xx' '672xx' '118xx' '633xx' '394xx' '174xx' '359xx' '483xx' '954xx'
 '029xx' '978xx' '864xx' '636xx' '285xx' '442xx' '318xx' '591xx' '769xx'
 '456xx' '183xx' '603xx' '668xx' '154xx' '155xx' '836xx' '622xx' '612xx'
 '259xx' '122xx' '400xx' '369xx' '557xx' '674xx' '961xx' '032xx' '644xx'
 '299xx' '075xx' '613xx' '082xx' '181xx' '911xx' '489xx' '602xx' '881xx'
 '620xx' '977xx' '273xx' '177xx' '435xx' '243xx' '785xx' '806xx' '383xx'
 '062xx' '851xx' '669xx' '168xx' '319xx' '295xx' '089xx' '654xx' '837xx'
 '807xx' '403xx' '656xx' '664xx' '615xx' '499xx' '462xx' '628xx' '313xx'
 '988xx' '034xx' '498xx' '094xx' '165xx' '648xx' '186xx' '439xx' '171xx'
 '863xx' '355xx' '737xx' '609xx' '616xx' '173xx' '691xx' '026xx' '433xx'
 '137xx' '455xx' '139xx' '493xx' '179xx' '255xx' '637xx' '724xx' '500xx'
 '870xx' '458xx' '828xx' '723xx' '793xx' '147xx' '607xx' '484xx' '898xx'
 '126xx' '341xx' '497xx' '820xx' '309xx' '808xx' '596xx' '655xx' '833xx'
 '965xx' '271xx' '566xx' '969xx' '128xx' '404xx' '270xx' '847xx' '287xx'
 '279xx' '224xx' '053xx' '265xx' '754xx' '308xx' '182xx' '051xx' '362xx'
 '037xx' '827xx' '743xx' '791xx' '514xx' '542xx' '880xx' '381xx' '184xx'
 '401xx' '545xx' '794xx' '423xx' '997xx' '298xx' '159xx' '903xx' '534xx'
 '153xx' '058xx' '666xx' '998xx' '056xx' '822xx' '629xx' '247xx' '392xx'
 '449xx' '022xx' '653xx' '681xx' '725xx' '422xx' '661xx' '675xx' '717xx'
 '788xx' '647xx' '626xx' '257xx' '364xx' '608xx' '845xx' '562xx' '577xx'
 '253xx' '792xx' '572xx' '164xx' '646xx' '713xx' '677xx' '409xx' '748xx'
 '057xx' '624xx' '316xx' '639xx' '469xx' '398xx' '041xx' '746xx' '367xx'
 '528xx' '527xx' '729xx' '414xx' '420xx' '710xx' '149xx' '434xx' '258xx'
 '714xx' '143xx' '736xx' '385xx' '416xx' '418xx' '425xx' '215xx' '391xx'
 '753xx' '689xx' '291xx' '188xx' '744xx' '824xx' '789xx' '371xx' '496xx'
 '424xx' '623xx' '397xx' '470xx' '474xx' '567xx' '237xx' '716xx' '261xx'
 '263xx' '650xx' '262xx' '050xx' '561xx' '267xx' '465xx' '558xx' '593xx'
 '755xx' '991xx' '052xx' '548xx' '102xx' '859xx' '239xx' '671xx' '874xx'
 '163xx' '353xx' '768xx' '379xx' '485xx' '670xx' '575xx' '963xx' '413xx'
 '522xx' '036xx' '248xx' '289xx' '812xx' '825xx' '252xx' '370xx' '388xx'
 '479xx' '384xx' '576xx' '040xx' '268xx' '673xx' '503xx' '523xx' '162xx'
 '884xx' '635xx' '374xx' '679xx' '408xx' '375xx' '406xx' '471xx' '772xx'
 '426xx' '090xx' '250xx' '390xx' '823xx' '378xx' '093xx' '096xx' '834xx'
 '832xx' '380xx' '332xx' '412xx' '638xx' '460xx' '203xx' '169xx' '266xx'
 '556xx' '373xx' '747xx' '249xx' '798xx' '739xx' '878xx' '831xx' '396xx'
 '595xx' '463xx' '592xx' '838xx' '386xx' '044xx'] unique values


address_state has ['ZZ' 'MI' 'NY' 'TX' 'AL' 'AZ' 'MO' 'OH' 'CA' 'AR' 'WI' 'VA' 'GA' 'NJ'
 'FL' 'AK' 'MA' 'MN' 'MD' 'KY' 'IL' 'AA' 'NH' 'CT' 'WA' 'NC' 'SD' 'UT'
 'OR' 'DC' 'WY' 'KS' 'PA' 'SC' 'RI' 'HI' 'LA' 'CO' 'WV' 'OK' 'VT' 'NV'
 'MT' 'NM' 'IN' 'DE' 'TN' 'MS' 'NE' 'ID' 'IA' 'ME'] unique values


revolving_utillization has ['“0.00%”' 0.213 0.999 ... 0.3688 0.1602 0.3773] unique values